<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>CONTA</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
    <form action="/soloDiario" method="post">
        <input type="submit" value="SOLO DIARIO" />
    </form>

    <br /><br />

    <form action="/diario" method="post" style="background-color:chartreuse">

        <div id="conteProcesos" style="background-color: aqua">

            <table class="tablaProcesos">
                <tr>
                    <td colspan="4"><input type="text" name="nomProceso" placeholder="Nombre del Proceso" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="number" name="pTerminada" placeholder="Produccion Terminada" /></td>
                    <td colspan="2"><input type="number" name="pProceso" placeholder="Produccion en Proceso" /></td>
                </tr>
                <tr>
                    <td>Concepto</td>
                    <td>Inventario Inicial</td>
                    <td>Costo Incurrido</td>
                    <td>% Avance</td>
                </tr>
                <tr hidden>
                    <td>SemiProducto</td>
                    <td><input type="number" name="inicialSP" /></td>
                    <td><input type="number" name="incurridosSP" /></td>
                    <td><input type="number" name="avanceSP" /></td>
                </tr>
                <tr>
                    <td>Materia Prima</td>
                    <td><input type="number" name="inicialMP" /></td>
                    <td><input type="number" name="incurridosMP" /></td>
                    <td><input type="number" name="avanceMP" /></td>
                </tr>
                <tr>
                    <td>Mano de Obra</td>
                    <td><input type="number" name="inicialMO" /></td>
                    <td><input type="number" name="incurridosMO" /></td>
                    <td><input type="number" name="avanceMO" /></td>
                </tr>
                <tr>
                    <td>Cargos Indirectos</td>
                    <td><input type="number" name="inicialCI" /></td>
                    <td><input type="number" name="incurridosCI" /></td>
                    <td><input type="number" name="avanceCI" /></td>
                </tr>
            </table>

        </div>

        <input type="submit" value="CreaCedulas" />
        <input type="button" onclick="newProcess()" id="nuevoProceso" value="NuevoProceso" />
    </form>

    <!--Logica-->
    <script src="/js/cedulas.js"></script>
</body>
</html>