
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>CONTA</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>

    <div>
        <form action="/regCuenta" method="post">
            <input type="text" placeholder="Cuenta" name="cuentaR">
            <select name="tipoR">
                <option>activo</option>
                <option>pasivo</option>
                <option>capital</option>
                <option>resultados</option>
            </select>
            <select name="plazoR">
                <option>corto</option>
                <option>largo</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <br />
    <br />
    <br />
    <div>
        <input id="nuevaFila" type="button" value="nueva fila">
        <input id="btnNuevoAsiento" type="button" value="nuevo Asiento">
        <input id="creaTs" type="button" value="Crea T's">
    </div>

    <form method="post" action="/resultados" onsubmit="return enviaFormulario()">

        <input type="text" name="ptu" placeholder="PTU" />
        <input type="text" name="isr" placeholder="ISR del ejercicio" />


        <table id="tablaDiario">
            <tr>
                <th colspan="3">DIARIO</th>
            </tr>
            <tr>
                <td>DEBE</td>
                <td>CONCEPTO</td>
                <td>HABER</td>
            </tr>
            <tr>
                <td colspan="3">
                    <p name="indice">1</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" name="debe" placeholder="Debe">
                </td>
                <td>
                    <select id="sConcepto" name="concepto"></select>
                </td>
                <td>
                    <input type="number" name="haber" placeholder="Haber">
                </td>
            </tr>
        </table>
        <input type="submit" value="EnviaDiario" />
    </form>

    <form action="/cedulas" method="post" style="background-color:chartreuse">

        <div id="conteProcesos" style="background-color: aqua">

            <table class="tablaProcesos">
                <th colspan="4">PROCESO 1</th>
                <tr>
                    <td colspan="2"><input type="number" name="pTerminada" placeholder="Produccion Terminada" /></td>
                    <td colspan="2"><input type="number" name="pProceso" placeholder="Produccion en Proceso" /></td>
                </tr>
                <tr>
                    <td>Concepto</td>
                    <td>Inventario Inicial</td>
                    <td>Costo Incurrido</td>
                    <td>% Avance</td>
                </tr>
                <tr hidden>
                    <td>SemiProducto</td>
                    <td><input type="number" name="inicialSP" /></td>
                    <td><input type="number" name="incurridosSP" /></td>
                    <td><input type="number" name="avanceSP" /></td>
                </tr>
                <tr>
                    <td>Materia Prima</td>
                    <td><input type="number" name="inicialMP" /></td>
                    <td><input type="number" name="incurridosMP" /></td>
                    <td><input type="number" name="avanceMP" /></td>
                </tr>
                <tr>
                    <td>Mano de Obra</td>
                    <td><input type="number" name="inicialMO" /></td>
                    <td><input type="number" name="incurridosMO" /></td>
                    <td><input type="number" name="avanceMO" /></td>
                </tr>
                <tr>
                    <td>Cargos Indirectos</td>
                    <td><input type="number" name="inicialCI" /></td>
                    <td><input type="number" name="incurridosCI" /></td>
                    <td><input type="number" name="avanceCI" /></td>
                </tr>
            </table>

        </div>
        
        <input type="submit" value="CreaCedulas" />
        <input type="button" onclick="newProcess()" id="nuevoProceso" value="NuevoProceso" />
    </form>

    

    

    <!--Para FIREBASE-->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>
    <script src="/js/configFirebase.js"></script>
    <!------------------>
    <!--Logica-->
    <script src="/js/cuentas.js"></script>

</body>
</html>